<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <button [routerLink]="['']" class="btn btn-danger">Back</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-2 col-md-2 col-sm-12 mt-3 float-right">
      <h2>You</h2>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-4 mt-4">
          <button class="btn btn-link" (click)="play(0)">
            <fa name="hand-paper-o" size="5x"></fa>
          </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-4 mt-4">
          <button class="btn btn-link" (click)="play(1)">
            <fa name="hand-scissors-o" size="5x"></fa>
          </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-4 mt-4">
          <button class="btn btn-link" (click)="play(2)">
            <fa name="hand-rock-o" size="5x"></fa>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-8 col-sm-12 mt-3">
      <h2>Ring</h2>
      <div class="jumbotron mt-4 ring">
        <div class="float-right play-hand">
          <fa  *ngIf="player1Hand" name="hand-{{player1Hand}}-o" size="5x"></fa>
        </div>
        <div class="float-left play-hand">
          <fa *ngIf="player2Hand" name="hand-{{player2Hand}}-o" size="5x"></fa>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 mt-3">
      <h2>Machine</h2>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-4 mt-4">
          <button class="btn btn-link" disabled>
            <fa name="hand-paper-o" size="5x"></fa>
          </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-4 mt-4">
          <button class="btn btn-link" disabled>
            <fa name="hand-scissors-o" size="5x"></fa>
          </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-4 mt-4">
          <button class="btn btn-link" disabled>
            <fa name="hand-rock-o" size="5x"></fa>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 mt-3">
      <h2>Historial</h2>
      <div class="mt-5 history-container">
        <div  *ngFor="let msg of history" 
              class="alert" 
              [ngClass]="{
                'alert-success': msg.result==='win',
                'alert-danger': msg.result==='lose',
                'alert-warning': msg.result=='tie'}">
          <p>{{msg.text}} - {{msg.date | date: 'dd/MM/yy HH:mm'}}</p>
          <p>You: {{msg.player1}} <fa name="hand-{{msg.player1}}-o" size="2x"> </fa>, Machine: <fa name="hand-{{msg.player2}}-o" size="2x"></fa>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>